# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# pages under construction
/pages/[productId].tsx
/pages/400.tsx
/pages/500.tsx
/pages/all-product.tsx
/pages/forget-password.tsx
/pages/login.tsx
/pages/shopping-cart.tsx
/pages/shopping-address.tsx
/pages/shopping-summary.tsx
/pages/shopping-success.tsx
/pages/signup.tsx
